@charset "UTF-8";

/* 
  Palheta de cores:
  Verde: #36DC53
  Verde escuro: #4AB15B
  Verde claro: #9EFB99
*/

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --cor1: #36dc53;
  --cor2: #4ab15b;
  --cor3: #9efb99;
  --font: "Noto Sans";
}

/* Versão Mobile First */

* {
  font-family: "Noto Sans";
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--cor2);
  height: 100vh;
  width: 100vw;
}

main {
  width: 100vw;
  height: 100vh;
  position: relative;
}

section#login {
  position: absolute;
  top: 50%;
  left: 50%;
  /* Overflow -> Transbordar */
  overflow: hidden;
  
  background-color: white;
  width: 300px;
  height: 530px;
  border-radius: 20px;
  /* Não terá nenhum tipo de deslocamento. */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.400);
  border: 2px solid #9efb9954;

  transition: width 0.3s, height 0.3s;
  transition-timing-function: ease;
  transform: translate(-50%, -50%);
}

section#login > div#image{
  display: block;
  background: var(--cor3) url('img/photo.jpg') no-repeat left center / cover;
  height: 200px;
}

section#login > div#form{
  display: block;
  margin-top: 10px;
  padding: 10px;
}

div > h1{
  text-align: center;
}

div > p{
  text-align: justify;
  font-size: 0.8em;
}

form > div.campo{
  background-color: var(--cor2);
  height: 40px;
  border-radius: 5px;
  padding-top: 5px;
  margin: 8px 0px;
}

div.campo > span{
  font-size: 1.8em;
  padding: 5px 0px 0px 8px;
  color: rgba(255, 255, 255, 0.877);
  width: 40px;
}

div.campo > input{
  font-size: 0.8em;
  /* Realizar cálculos para descobrir um valor específico. */
  width: calc(100% - 47px);
  height:calc(100% - 1px);
  border-radius: 5px;
  border: none;
  padding-left: 5px;

  transform: translateY(-12px);
}

div.campo > label{
  display: none;
}

div#form > form > input[type="submit"]{
  display: block;
  font-size: 1em;
  width: 100%;
  height: 40px;
  background-color: var(--cor1);
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
}

div#form > form > input[type="submit"]:hover{
  background-color: var(--cor2);
  cursor: pointer;
}

div#form > form > a.botao{
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    margin-top: 15px;
    padding-top: 8px;
    background-color: #5fc970;
    border-radius: 5px;
    border: 1px solid #367440;
    text-decoration: none;
    color: white;
}

div#form > form > a.botao > span{
  font-size: 0.8em;
}

